@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1D2021;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1D2021;
}

::-webkit-scrollbar-thumb
{
    /*background-color: rgb(93,176,149);*/
    /*background-color: #8ECCB1;*/

    /* Egyik színből másikba átmenős scrollbar*/
    background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
                                       color-stop(0.86, rgb(142,204,177)),
									   color-stop(0.54, rgb(93,176,149))
									   );
}

.navbar{
    background-color: #1D2021;
    height: 110px;
    color: #FFFFFF;
    font-family: BebasNeue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ottmarad a menu fent */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
}

.navbar a:visited{
    color: white;
}

.left-nav{
    margin-left: 75px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.title{
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img{
    height: 71px;
}

.right-nav{
    font-size: 36px;
    margin: 0;
    padding-left: 0;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

hr{
    margin: 0 auto;
    width: 95%;
    border: 2px solid #8ECCB1;
}

/* Egyelőre egy div háttérképe az adott terv, a magasságot arányosan kiszámolja mindig, hogy ne legyen nyomott a kép */

.home{
    background-image: url("images/uni.svg");
    background-color: #264a54;;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: 100% auto;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

.slogan{
    color: #F6F6F2;
    font-family: BebasNeue;
    font-size: 250px;
    margin-left: 120px;
    margin-top: auto;
    margin-bottom: auto;
}
