@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Anaheim;
    src: url(fonts/Anaheim-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1D2021;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1D2021;
}

::-webkit-scrollbar-thumb
{
    /*background-color: rgb(93,176,149);*/
    /*background-color: #8ECCB1;*/

    /* Egyik színből másikba átmenős scrollbar*/
    background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
                                       color-stop(0.86, rgb(142,204,177)),
									   color-stop(0.54, rgb(93,176,149))
									   );
}

.navbar{
    background-color: #1D2021;
    height: 110px;
    color: #FFFFFF;
    font-family: BebasNeue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ottmarad a menu fent */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:visited, a:active{
    color: white;
}

.navbar li:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.left-nav{
    margin-left: 75px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.title{
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img{
    height: 71px;
}

.right-nav{
    font-size: 36px;
    margin: 0;
    padding-left: 0;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

hr{
    margin: 0 auto;
    width: 95%;
    border: 2px solid #8ECCB1;
}

/* Egyelőre egy div háttérképe az adott terv, a magasságot arányosan kiszámolja mindig, hogy ne legyen nyomott a kép */

.home{
    background-image: url("images/uni.svg");
    background-color: #264a54;;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: 100% auto;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

.slogan{
    color: #F6F6F2;
    font-family: BebasNeue;
    font-size: 250px;
    margin-left: 120px;
    margin-top: auto;
    margin-bottom: auto;
}

.top{
    position: absolute;
    top: calc(100vh - 148px);
    height: 400px;
    width: 80vw;
}

.bottom{
    position: absolute;
    top: calc(200vh - 260px);
    right: 0;
    height: 400px;
    width: 850px;
}

.about{
    background-color: #8ECCB1;
    height: calc(100vh - 110px);
    display: flex;
}

.about-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about-list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.about-list-item{
    font-size: 24px;
    font-family: Anaheim;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

.about-list-item p{
    margin: 0;
    width: 80%;
}

#about-list-item-first{
    background-color: rgba(246, 246, 242, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

.about-slogan{
    font-family: BebasNeue;
    font-size: 85px;
    color: #1D2021;
    text-align: center;
}

.services{
    background-color: #264a54;
    height: calc(100vh - 110px);
}

footer{
    height: 327px;
    background-color: #1D2021;
    display: flex;
    color: #FFFFFF;
    font-family: Anaheim;
}

.footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo img{
    height: 168px;
}

.footer-links{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li{
    margin-bottom: 10px;
}

.footer-links .footer-link-title{
    font-size: 32px;
    margin-bottom: 30px;
}

.sign-up p{
    font-family: BebasNeue;
    font-size: 36px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 15px;
    width: fit-content;
}
/* komoly alakítások lehetnek még itt egyéb ilyen olyan szempontok maitt */
.sign-up-form{
    margin-bottom: 35px;
    position: relative;
    width: 350px;
}

.sign-up-form input{
    box-sizing: border-box;
    background-color: #2F6375;
    font-size: 14px;
    font-family: Anaheim;
    color: rgba(246, 246, 242, 0.7);
    width: 100%;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:focus{
    outline: none;
}

::placeholder{
    color: rgba(246, 246, 242, 0.7);
}

.sign-up-form button{
    background-color: #264A54;
    border: none;
    margin-left: -25%;
    border-radius: 8px;
    padding: 8px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-family: Anaheim;
    color: #F6F6F2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.sign-up-form button:hover{
    transform: scale(1.1);
}

/* ezek nyilván lehetnek majd egyszerűen valami linkek, attól függ ki hogy szeretné, a lista elemei a footerben meg szintúgy */
.social{
    display: flex;
    justify-content: space-between;
}